<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Legends of Notre Dame</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="icon" type="image/png" href="/assets/img/LegendsofNotreDame100NotreDameIN.png" />
  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  <link rel="stylesheet" type="text/css" href="/assets/css/burger_styles.css">
</head>

<body>
  {{{ body }}}
</body>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container" id="footer">
      <a class="grey-text text-lighten-4 right" href="https://github.com/jhambry/burger">Github</a>
    </div>
  </div>
</footer>

</html>